.heading{
    font-size: 23px;
    width: 100%;
    margin:0px;
    box-shadow: 5px 5px 5px rgb(81, 255, 0);
}
.note{
    font-size: 18px;
}
.rodape{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: darkgrey;
    text-align: center;
}
canvas{
    border: 5px solid rgb(120, 0, 0);
    border-radius: 20px;
    box-shadow: 5px 5px 5px yellow;
}


